name: CI - Python Tests

on:
  push:
    branches: ["development"]
  pull_request:
    branches: ["development"]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest -q --cov=.  --cov-report=term --cov-report=xml --cov-report=html
